@import'../abstracts/all' ;

body{
    background-color: #121212;
    font-family: sans-serif;
    color: #fff;

    padding: 0;
    margin: 0;
}
.headerSection{
    grid-column:1/11;
    grid-row: 1/2;

}

.mainSection{
    grid-column:1/11;
    grid-row:2/10;
    display: flex;
    justify-content: center;
}

.footerSection{
    grid-row: 10/11;
    grid-column: 1/11;
}