@import '../abstracts/variables'; 

.mainGridLayout{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #121212;
    font-family: sans-serif;
    color: #fff;

    padding: 0;
    margin: 0;
    @media screen and (max-width:$mobileMaxScreenWidth){
       
    }   
}