//Colours

$backgroundColour: #121212;
$textColour: #fff;
$grey:rgba(73, 73, 73, 0.384);
$primaryColour:#f01111;
$secondaryColour:#116af0;
$darkGrey:rgba(43, 43, 43, 0.404);
$linearGradientPrimary: linear-gradient(45deg, $primaryColour 25%, rgba(240, 51, 51, 0.774) );


//Sizes
$mobileMinScreenWidth:320px; //480px
$mobileMaxScreenWidth:480px;

$tabletMinScreenWidth:481px;
$tabletMaxScreenWidth:768px;

$edgeSize: .5em;

